# Operating System Junk ##
.DS_Store
Thumbs.db
desktop.ini

# IDEs & Environments
.idea/
.vscode/
venv/
env/
*.swp

# Python & PyInstaller
__pycache__/
*.py[cod]
*$py.class
build/
dist/
*.spec

# Android Studio & Gradle
Android-App/build/
Android-App/app/build/
Android-App/.gradle/
Android-App/.cxx/
Android-App/local.properties
*.jks
*.keystore
*.apk
*.aab

## App Specific: Logs & Outputs

output_configs/
*.log
*.csv


# App Specific
config.json
config.txt
vless_links.txt

# App Specific

xray
xray.exe
xray_temp.zip
scanner_for_exec.py